{{ if .Site.Data.homepage.explore.enable }}
<section id="explore" class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down text-right">{{ .Site.Data.homepage.explore.title }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">
            {{ range .Site.Data.homepage.explore.items }}
            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial">
                <i class="{{ .icon }} mb-4"></i>
                <div>
                    <a href="{{ .url }}">
                        <img src="{{ .image.x | absURL }}" alt="{{ .name }}" srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x">
                    </a>
                </div>

                <p>
                    {{ .content }}
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
