{{ if .Site.Data.homepage.showcase.enable }}
<section class="rad-showcase rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg img-responsive pl-4" style="z-index:100">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pSP65-f3PRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
        <h1 class="display-1">
          {{ .Site.Data.homepage.showcase.title }}
          <br />
          <span
            >{{ .Site.Data.homepage.showcase.subtitle }}</span
          >
        </h1>
        <div class="container d-lg-none d-xl-none d-xxl-none mb-3">
          <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pSP65-f3PRw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
        </div>
        <p class="lead">
          {{ .Site.Data.homepage.showcase.description | safeHTML }}
        </p>
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank"
          ><i style="color:black" class="{{ .icon }}"></i
        ></a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
