{{ if .Site.Data.homepage.volunteer.enable }}
<section class="section rad-animation-group pb-0" id="volunteer">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-md-row">
      <div class="col-12 text-right">
        <h2>{{ .Site.Data.homepage.volunteer.title }}</h2>
        <img
          class="lozad img-responsive"
          style="width:100%"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.volunteer.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.volunteer.image.x | absURL }} 1x, {{ .Site.Data.homepage.volunteer.image._2x | absURL }} 2x"
          alt="Volunteer Flyer"
        />
      </div>
      <div class="col-12 text-left mt-3">
        <a
          href="{{ .Site.Data.homepage.volunteer.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.volunteer.button.icon }}"></i>
          {{ .Site.Data.homepage.volunteer.button.btnText }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
